<ion-header>
    <ion-toolbar>
        <ion-toolbar color="primary">
            <ion-title class="ion-text-center"> Work / Projects	/ Extra	 Curricular	 Activities </ion-title>
          </ion-toolbar>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-content>
      <ion-toolbar color="secondary">
          <ion-title class="ion-text-center"> Work </ion-title>
        </ion-toolbar>
      <ion-card>
     
        <i>20/09/2015 - 15/11/2015</i>
              <h3>IT Technician / Helpdesk Technician </h3> 
              <i> Tecnocom, Lisbon (Portugal)</i>
              <section>    
                  <ul class="my-nav">
                    <li>Remotly solve informatic troubleshoothing</li>
                    <li>Send local support when needed </li>
                    <li>Managing user accounts from 'Galp Energia' (National oul supplier) </li>
                    <li>Computers maintenance </li>
                    <li>Solving and aswering customer problems </li>
                  </ul>
                </section>
      </ion-card> 
      <ion-card>
          <i>16/07/2014 - 24/11/2014</i>
                <h3> Programmer</h3> 
                <i> Green Factory, Setúbal (Portugal</i>
                <section>    
                    <ul class="my-nav">
                      <li>Developing an online app </li>
                      <li>Programming ( JAVA, JAVA-SCRIPT, HTML, PHP, MYSQL, PHP, MYSQL, AJAX, JQUERY, CSS)</li>
                      <li>Creating and managing databases</li>
                      <li>Computers maintenance </li>
                      <li>Bug and troubleshooting solving</li>
                    </ul>
                  </section>
        </ion-card> 
</ion-content>
