<ion-tabs>

  <ion-tab-bar slot="bottom">
     
    <ion-tab-button tab="about">
      <ion-icon name="person"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="skills">
        <ion-icon name="happy"></ion-icon>
        <ion-label> Skills </ion-label>
      </ion-tab-button>

    <ion-tab-button tab="experience">
      <ion-icon name="laptop"></ion-icon>
      <ion-label>Experience</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="logoff">
          <ion-icon name="power"></ion-icon>
          <ion-label>Log off</ion-label>
        </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
