<ion-header>
  <ion-toolbar>
      <ion-toolbar color="primary">
          <ion-title class="ion-text-center"> About </ion-title>
        </ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
           
 <ion-card>
   <h1>Full-Stack Developer</h1><p></p>
    <img src="../assets/img/me.png" alt="Oleksandr Zakirov" />
    <h3 class="ion-text-center">Oleksandr Zakirov</h3> <p></p>
   <p>  &nbsp;  I'm a young IT Technician looking for exciting challenges in the field of programming.
      I am currently studying Business Information Technology course at Laurea UAS, but I also have a
      completed IT course equivalent to EQF Level 4.
  </p> 
  <p> I am an adjustable a flexible team worker, who 
      is eager to learn and evolve. My best features are my effort, adaptability and open-minded 
      personality. I always look to push my limits and develop as much as possible, while also enjoy
      the journey.For more detailed information you can navigate through this app or check the following 
      Content.
  </p>
  <i> In computer its necessary to press ctrl + mouse click</i>
  <ion-button class="ion-text-center"   expand="block" href="../assets/cv1.pdf" color="secondary"> Curriculum Vitae </ion-button>
  <ion-button class="ion-text-center"   expand="block" href="../assets/transcript.pdf" color="success"> Transcript of records </ion-button><br><br>

</ion-card>
</ion-content>
