ion-card{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 100%;
    color: black;
    background-color:white;
    height: 10%;
    text-align: left;
    
    }
i{
    color:#009de6;
    font-size: 125%;
}

p{
    font-size: 120%;
}

ion-button{
    width: 84%;
    margin-left:8%;
    margin-right:-8%;
    
    
}