<ion-header>
 <ion-toolbar>
        <ion-toolbar color="primary">
            <ion-title class="ion-text-center"> Contacts </ion-title>
          </ion-toolbar>
        </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card><br>
      &nbsp;   &nbsp;<ion-icon name="pin"></ion-icon>
      <ion-label> Espoo</ion-label>
    </ion-card><br>

    <ion-card ><br>
      &nbsp;   &nbsp;<ion-icon name="call"></ion-icon>
      <ion-label> (+358) 414 919 872 </ion-label>
    </ion-card><br>

    <ion-card><br>
     &nbsp;   &nbsp; <ion-icon name="mail"></ion-icon>
      <ion-label> oleksandr_zakirov @hotmail.com</ion-label>
    </ion-card><br>

    <ion-card>
      <br>
      &nbsp;   &nbsp;<i> | Sex:</i> Male 
  
    </ion-card> <br>

    <ion-card><br>
      &nbsp;   &nbsp; <i> | Date of birth: </i>  12/09/1996 
    </ion-card><br>
    
    <ion-card><br>
      &nbsp;   &nbsp; <i> | Nationality:</i> Portuguese
    </ion-card><br>    
    <br>  
    <ion-button class="ion-text-center"   href="https://www.linkedin.com/in/oleksandrzakirov/"> Linked In</ion-button> <br><br>
    <ion-button class="ion-text-center"   href="https://github.com/oleksandr1234567" color="secondary"> Git</ion-button><br><br>
    

    <br>  <br>  <br>  
</ion-content>
