<ion-header>
<ion-toolbar color="primary">
 <ion-title class="ion-text-center"> Skills </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
   <!--Languages -->
<ion-toolbar color="secondary">
<ion-title class="ion-text-center"> Languages </ion-title>
</ion-toolbar>

<ion-card>
  <ion-button>English</ion-button> <ion-button color="secondary" >
    <ion-icon name="happy"></ion-icon> <ion-icon name="happy"></ion-icon><ion-icon name="happy">
    </ion-icon><ion-icon name="happy"></ion-icon><ion-icon name="happy"></ion-icon>
  </ion-button> 

  <ion-button class="secondary">Portuguese</ion-button><ion-button color="secondary" >
      <ion-icon name="happy"></ion-icon> <ion-icon name="happy"></ion-icon><ion-icon name="happy">
      </ion-icon><ion-icon name="happy"></ion-icon><ion-icon name="happy"></ion-icon>
    </ion-button> 

  <ion-button>Russian</ion-button><ion-button color="secondary" >
      <ion-icon name="happy"></ion-icon> <ion-icon name="happy"></ion-icon><ion-icon name="happy">
      </ion-icon><ion-icon name="happy"></ion-icon><ion-icon name=""></ion-icon>
    </ion-button> 

  <ion-button>Finnish</ion-button><ion-button color="secondary" >
      <ion-icon name="happy"></ion-icon> <ion-icon name="happy"></ion-icon><ion-icon name=""></ion-icon>
      <ion-icon name=""></ion-icon><ion-icon name=""></ion-icon>
    </ion-button> 
</ion-card>
 <!--Communication -->
<ion-toolbar color="secondary">
<ion-title class="ion-text-center"> Communication </ion-title>
</ion-toolbar>

<ion-card>
  <li> Good comunication skills gained through my experience as a salesman</li>
  <li> Secure in expressing clearly my ideas</li>
  <li> Ease in communicating and negotiating with people</li>
  <li> Comfort to speak to public</li>
</ion-card>

<!--Main skills -->
<ion-toolbar color="secondary">
<ion-title class="ion-text-center"> Main Skills </ion-title>
</ion-toolbar>  
   
<ion-card>
 <ion-button color="danger" >HTML</ion-button>
 <ion-button color="tertiary" >CSS </ion-button>
 <ion-button color="secondary" >PYTHON </ion-button>
 <ion-button color="warning" >JAVA </ion-button>
 <ion-button color="primary" >JAVA-SCRIPT </ion-button>
 <ion-button color="success" >C </ion-button>
 <ion-button color="medium" >C++ </ion-button>
</ion-card>

</ion-content>
