ion-card{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: black;
    background-color:white;
    }

ion-button{
    width: 48%;
   

}

ion-icon{
    font-size:33pt;
}